 .headimg {
  margin-left: 33.333333%;
  margin-right: 33.333333%;
}

body {
  background-image: url('../public/images/Background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: relative;


}

.letters {
  height: 30px;
  width: 20%;
  text-align: center;
}

.letterbox {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  border: 3px solid black;
  font-size: 30px;
  height: 250px;
  width: 20%;
  margin-left: 60%;
  margin-top: 6%;
}

.letterButtons {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.gallows {
  float: left;
  width: 35%;
  height: 20%;
  margin-left: 10%;
}

#line {
  margin-top: 2%;
}

.congratsbox {
  border: solid black 3px;
  margin-left: 33.3%;
  margin-right: 33.3%;
  font-size: 200px;
}

#logout {
  padding-left: 90%;
  padding-top: 1%;
}
