<div class="mui-row">
  <div class="mui-container-fluid">
    <div class="mui-col-md-4 mui-col-md-offset-4">
      <div class="mui-panel" style="margin-top: 50px; margin-left: 50px; padding: 30px; background-color: #e5e5e5;">

        <a href="/login"><button>Login</a></button><br/>
        <br/>
        <br/>
        <a href="/signup"><button style="background-color: #ffffe5;" type="submit">Sign Up</a></button><br/>
        <br/>
        <br/>
        <a href="/players"><button style="background-color: #ffffe5;">Play as Guest</a></button>

      </div>
    </div>
  </div>
</div>
