<div class="mui-row">
  <div class="mui-container-fluid">
    <div class="mui-col-md-4 mui-col-md-offset-4">
      <div class="mui-panel" style="margin-top: 50px; margin-left: 50px; padding: 30px; border: 3px; background-color: #ffe4b2;">

<form method="POST" action=/signup class="mui-form">
  <legend>Sign Up</legend>
  <input style="background-color: #ffff99;" type="text" name="username" placeholder="Username"><br>
  <br>
  <input style="background-color: #ffff99;" type="password" name="passowrd" placeholder="Password"><br>
  <br>
  <input style="background-color: #ffff99;" type="password" name="password" placeholder="Confirm Password"><br>
  <br>
  <button style= "background-color: #ffd27f; padding: 7px 15px; font-family: monospace; font-size: 20px;" type="submit">Sign Up</button>
  <a href="/login"><button style="background-color: #ffffe5; padding: 5px; font-size: 18px;" type="submit">Login</a></button>
</form>

      </div>
    </div>
  </div>
</div>
